.card {
    width: 23.4rem;
    height: 15.0rem;
    border-radius: 1.0rem;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
    &__active{
        border: 1px solid #80cbc4;
        box-shadow: 0 3px 6px rgba($color: #80cbc4, $alpha: 1);
    }

    .titleArea {
        border-bottom: 1px solid #ededed;
        display: flex;
        height: 4.35rem;
        justify-content: space-between;
        align-items: center;
        .title{
            margin-left: 1.6rem
        }
        .switch {
            margin-right: 1.4rem;
        }
    }

    .contentArea {
        .content {
            width: 20.2rem;
            margin: 1.7rem auto;
        }
    }
}
