.gosic14 {
    color: #242424;
    font-size: 1.4rem;
    font-weight: 600;
}

.gosic16 {
    font-size: 1.6rem;
    font-weight: 600;
}

.gosic12 {
    color: #242424;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: calc(15/12);
}
